<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/style.min.css" rel="stylesheet" />
    <script src="~/js/main.js"></script>
    <script src="~/lib/easing/easing.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <link href="~/lib/owlcarousel/assets/owl.carousel.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.theme.default.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.theme.green.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.theme.green.min.css" rel="stylesheet" />
    <script src="~/mail/contact.js"></script>
    <script src="~/mail/jqBootstrapValidation.min.js"></script>
</head>
<body>
    @Html.Partial("NavPartial")
    @Html.Partial("SliderPartial2")
    <div>
        @RenderBody()

    </div>
    @Html.Partial("SliderPartial3")
    @Html.Action("AoThunPartial", "LoaiSanPham")
    @Html.Action("AoKhoacPartial", "LoaiSanPham")
    @Html.Action("AoSoMiPartial", "LoaiSanPham")
    @Html.Action("QuanDaiPartial", "LoaiSanPham")
    @Html.Action("QuanShortPartial", "LoaiSanPham")
    @Html.Action("PhuKienPartial", "LoaiSanPham")
    @Html.Action("BaloTuiPartial", "LoaiSanPham")
    @Html.Action("GiayDepPartial", "LoaiSanPham")
    @Html.Partial("FooterPartial")





</body>
</html>
