@model NguyenChiTrung_ShopYAME.Models.KHACHHANG

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>KHACHHANG</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">Mã khách hàng:</label>
        <div class="col-md-10">
            @*Chỉ hiển thị mã sách không cho sửa*@
            <input type="text" size="70" name="iMaKhachHang" value="@Model.MaKhachHang" readonly />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Tên Khách Hàng:</label>
        <div class="col-md-10">
            <input type="text" size="70" name="sHoTen" value="@Model.HoTen"
                   required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Tài Khoản:</label>
        <div class="col-md-10">
            <input type="text" size="70" name="sTaiKhoan" value="@Model.TaiKhoan"
                   required />
            @ViewData["err4"]
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">MatKhau:</label>
        <div class="col-md-10">
            <input type="text" size="70" name="sMatKhau" value="@Model.MatKhau"
                   required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Email:</label>
        <div class="col-md-10">
            <input type="text" size="70" name="sEmail" value="@Model.Email"
                   required />
            @ViewData["err4"]
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Địa chỉ:</label>
        <div class="col-md-10">
            <input type="text" size="70" name="sDiaChi" value="@Model.DiaChi"
                   required />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Điện thoại:</label>
        <div class="col-md-10">
            <input type="text" size="70" name="sDienThoai" value="@Model.DienThoai"
                   required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Ngày sinh:</label>
        <div class="col-md-10">
            <input type="date" name="dNgaySinh" required />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
