
@using NguyenChiTrung_ShopYAME.Models;
<style type="text/css">
    .imgspmoi {
        transition: all 1s ease-in;
        width: 350px;
    }

        .imgspmoi:hover {
            transform: scale(0.9);
            cursor: pointer;
        }

    .linkhover:hover {
        color: red;
        text-decoration: none;
    }
</style>
<h2 class="text-center">
    <a href="@Url.Action("SanPhamTheoLoai","LoaiSanPham", new { id = 1})"
       class="list-group-item" style="text-decoration: none">XEM TẤT CẢ ÁO THUN</a>
</h2>
<hr>
<div class="row text-center">
    @foreach (var sp in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <a href="@Url.Action("ChiTietSanPham","Home", new { id =
sp.MaSanPham})" class="linkhover">
                    <img src="~/img/@sp.AnhBia" alt="Thumbnail Image 1" class="img-responsive img-rounded imgspmoi">
                </a>
                <div class="caption">
                    <h4 style="min-height:70px">
                        <a href="@Url.Action("ChiTietSanPham","Home", new { id =
sp.MaSanPham})" class="linkhover">@sp.TenSanPham</a>
</h4>
                    <h6>
                        @Html.Action("GiaKM", "Home", new
            {
            id =
            sp.MaSanPham
            }).000 VNĐ
                    </h6><h6 class="text-muted ml-2"><del>@Html.FormatValue(@sp.GiaBan, "{0:0}").000 VNĐ</del></h6>
                         <p>

                             <a href="@Url.Action("ChiTietSanPham","Home", new { id =
sp.MaSanPham})" class="linkhover">
                                 <span class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</span>
                             </a>
                             <a href="@Url.Action("ThemGioHang","GioHang", new { ms = sp.MaSanPham, url =
Request.Url.ToString() })
" class="btn btn-primary" role="button">
                                 <span class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</span>
                             </a>
                             <a href="@Url.Action("ThemYeuThich","YeuThich", new { ms = sp.MaSanPham, url =
Request.Url.ToString() })
" class="btn btn-primary" role="button">
                                 <span class="btn btn-sm text-dark p-0"> <i class="fas fa-heart text-primary"></i>Add To Favorite</span>
                             </a>
                         </p>
</div>
</div>
</div>
}
</div>







